<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title }} ({{ version }}) - Battery</title>

    <link rel="stylesheet" href="/app/static/css/main.css">
</head>

<body>

<header>
    <h1>Battery</h1>
    <p>{{ title }} {{ version }}</p>
    <br>
    <button onclick="history.back()">Go Back</button>
</header>

<main>
    <div class="grid">

        <section class="card">
            <h2>Battery</h2>

            {% if battery.battery %}

            {% for name, value in battery.battery.items() %}
            <div class="row">
                <span class="label">
                    {{ name }}
                </span>

                <strong id="battery-{{ name }}">
                    {{ value }}
                </strong>
            </div>
            {% endfor %}

            {% else %}

            <div class="label">
                No battery detected.
            </div>

            {% endif %}

        </section>

    </div>
</main>

<script src="/app/static/js/system/battery.js"></script>

</body>
</html>