<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="/static/images/favicon.ico" rel="icon" type="image/x-icon">

    <title>{{ title }} ({{ version }}) - Disk</title>

    <link href="/static/css/main.css" rel="stylesheet">

</head>

<body>

<header>
    <h1>Disk</h1>
    <p>{{ title }} {{ version }}</p>
    <br>
    <button onclick="history.back()">Go Back</button>
</header>

<main>
    <div class="grid">

        <!-- DISK USAGE -->
        <section class="card">
            <h2>Disk Usage</h2>

            <div class="value">
                {{ disk.usage.percent }}%
            </div>

            <div class="bar">
                <div
                        class="bar-fill"
                        style="width: {{ disk.usage.percent }}%;"
                ></div>
            </div>

            {% for name, value in disk.usage.items() %}
            {% if name != "percent" %}
            <div class="row row-wrap">
                <span class="label">{{ name }}</span>

                <strong>
                    {{ value }}
                </strong>
            </div>
            {% endif %}
            {% endfor %}
        </section>


        <!-- PARTITIONS -->
        <section class="card wide">
            <h2>Partitions</h2>

            {% for partition in disk.partitions %}
            <div class="process-item">

                {% for name, value in partition.items() %}
                <div class="row row-wrap">
                    <span class="label">{{ name }}</span>

                    <strong>
                        {{ value }}
                    </strong>
                </div>
                {% endfor %}

            </div>
            {% else %}
            <span class="muted">
            No disk partitions available.
        </span>
            {% endfor %}
        </section>


        <!-- DISK I/O -->
        <section class="card wide">
            <h2>Disk I/O</h2>

            {% for name, counter in disk.io.items() %}
            <div class="process-item">

                <h3>{{ name }}</h3>

                {% for field, value in counter.items() %}
                <div class="row row-wrap">
                    <span class="label">{{ field }}</span>

                    <strong>
                        {{ value }}
                    </strong>
                </div>
                {% endfor %}

            </div>
            {% else %}
            <span class="muted">
            No disk I/O information available.
        </span>
            {% endfor %}
        </section>

    </div>

</main>

<script src="/static/js/system/disk.js"></script>

</body>
</html>
